.banner {
  position: relative;
  min-height: calc( 100vh - 123px );
  background: url("../../public/images/banner.png") top right no-repeat;
  background-size: cover;
  //background-size: auto 100%;
  padding-top: 123px;

  .image {
    position: absolute;
    right: 0;
    top: 107px;
    bottom: 0;
  }

  .banner-inner {
    display: flex;
  }

  .left {
    flex-basis: 60%;
    min-height: calc( 100vh - 123px );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .right {
    min-height: calc( 100vh - 123px );
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  h2 {
    font-family: 'Oranienbaum', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 146.5%;
    color: #D4AC89;
    margin: 0;

    span {
      color: #202020;
    }
  }

  .sub-title {
    font-weight: 300;
    font-size: 22px;
    line-height: 175.5%;
    letter-spacing: 0.055em;
    color: #000000;
    margin: 0 0 40px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  .button {
    background: #D4AC89;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: inline-block;
    &:hover {
      background: #E4BE9D;
    }
    .btn {
      font-size: 16px;
      line-height: 157%;
      text-align: center;
      letter-spacing: 0.055em;
      color: #FFFFFF;
      padding: 16px 34px;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .button.download {
    .btn {
      padding: 16px 44px;
    }
  }

  .holder {
    background: #EBEFE3;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    max-width: 424px;
    height: 85%;
    padding: 17px 19px;
  }

  .item {
    margin-bottom: 20px;
  }

  .right-body {
    border: 2px solid #fff;
    padding: 33px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    .title {
      font-family: 'Oranienbaum', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
      line-height: 33px;
      letter-spacing: 0.055em;
      text-transform: uppercase;
      color: #202020;
      margin-bottom: 7px;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 170.5%;
      letter-spacing: 0.055em;
      color: #000000;
      margin: 0;
    }
  }

  //media
  @media (max-width: 1315px) {
    h2 {
      font-size: 70px;
      line-height: 120.4%;
    }
  }

  @media (max-width: 1185px) {
    .button {
      .btn {
        padding: 16px 24px;
      }
    }

    .button.download {
      .btn {
        padding: 16px 34px;
      }
    }
  }

  @media (max-width: 1150px) {
    h2 {
      font-size: 55px;
    }

    .sub-title {
      font-size: 18px;
      line-height: 155.5%;
    }

    .item {
      margin-top: 20px;
    }

    .buttons {
      margin-right: 10px;
    }

    .button {
      .btn {
        padding: 16px 8px;
      }
    }

    .button.download {
      .btn {
        padding: 16px 8px;
      }
    }
  }

  @media (max-width: 1050px) {
    min-height: calc( 100vh - 107px);
    padding-top: 107px;

    .left {
      min-height: calc( 100vh - 107px );
    }

    .right {
      min-height: calc( 100vh - 107px );
    }
  }

  @media (max-width: 991px) {
    h2 {
      font-size: 45px;
    }

    .sub-title {
      br:last-child {
        display: none;
      }
    }

    .buttons {
      flex-direction: column;
      margin-right: 0;
    }

    .button {
      width: 424px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button {
      margin-bottom: 20px;
      .btn {
        width: 424px;
      }
    }

    .button.download {
      margin-bottom: 0;
      .btn {
        width: 424px;
      }
    }
  }

  @media (max-width: 767px) {
    background: url("../../public/images/banner-mob.png") top right no-repeat;
    background-size: cover;

    h2 {
      text-align: center;
    }

    .sub-title {
      text-align: center;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .banner-inner {
      flex-direction: column;
    }

    .left {
      flex-basis: 100%;
      min-height: 100%;
    }

    .right {
      flex-basis: 100%;
      min-height: 100%;
    }

    .holder {
      margin: auto auto 50px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    }

    .item {
      margin-top: 0;
      margin-bottom: 0;
    }

    .item.middle {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 31px;
      line-height: 146.5%;
      margin-top: 40px;
    }

    .sub-title {
      font-size: 11px;
      line-height: 175.5%;
      margin-bottom: 52px;
    }

    .buttons {
      margin-bottom: 52px;
    }

    .button {
      width: 100%;
      .btn {
        font-size: 14px;
        line-height: 157%;
      }
    }

    .holder {
      width: 100%;
    }

    .right-body p {
      font-size: 14px;
      line-height: 170.5%;
    }

    .item.middle {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 380px) {
    h2 {
      margin-top: 20px;
    }
  }

  @media (max-width: 330px) {
    h2 {
      font-size: 30px;
    }
  }
}
