//////////////////////////CERTIFICATES BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;

.certificates {
  background: #fff;
  padding: 56px 0 61px 0;
  overflow: hidden;
  position: relative;

  .vector-right {
    width: 214px;
    height: 390px;
    position: absolute;
    right: 0px;
    bottom: 112px;
  }

  .vector-left {
    width: 337px;
    height: 390px;
    position: absolute;
    left: 0;
    bottom: -184px;
    z-index: 0;
  }

  .slick-slider {
    z-index: 1;
  }

  .right-content {
    //padding: 129px 0 19px 0;
    padding: 48px 0 19px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .caption {
      font-family: $font_text;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 147.69%;
      text-align: right;
      text-transform: uppercase;
      color: #08203E;
      position: relative;
      margin: 0;
      z-index: 2;
      &:after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        height: 55px;
        background: #ED1D24;
        right: 0;
        top: -62px;
      }
    }

    .budmat {
      z-index: 2;
      font-family: $font_text;
      font-style: normal;
      font-weight: 900;
      font-size: 72px;
      line-height: 147.69%;
      color: rgba(237, 29, 36, 0.9);
      span {
        color: rgba(0, 0, 0, 0.9);
        margin-left: -20px;
      }
    }
  }

  .gallery-image {
    position: relative;
    outline: none;
    margin-top: 58px;
    margin-bottom: 68px;
    z-index: -1;
    max-width: 453px;
    max-height: 638px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }

  .slick-center {
    transition: .3s;
    transform: scale(1.2);
    z-index: 9;
    position: relative;
  }


  ////media

  @media (max-width: 1026px) {
    .right-content .budmat {
      font-size: 65px;
    }
  }

  @media (max-width: 991px) {
    padding: 80px 0 40px 0;

    .vector {
      display: none;
    }

    .row {
      flex-direction: column-reverse;
    }

    .right-content {
      padding: 0;

      .budmat {
        font-size: 50px;
        text-align: center;
        margin: 0 0 20px;
        span {
          margin-left: -15px;
        }
      }

      .caption {
        text-align: center;
        margin-bottom: 20px;
        &:after {
          display: none;
        }
      }

    }
  }

  @media (max-width: 768px) {
    padding: 40px 0 20px 0;

    .right-content {
      .caption {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 138.18%;
      }

      .budmat {
        font-size: 35px;
        margin: 0 0 0 0;
        span {
          margin-left: -10px;
        }
      }
    }

    .gallery-image {
      margin-right: 30px;
    }
  }

  @media (max-width: 576px) {

    .right-content {
      .caption {
        font-size: 20px;
      }

      .budmat {
        font-size: 30px;
      }
    }
  }

  @media (max-width: 420px) {
    .gallery-image {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

//////////////////////////CERTIFICATES END////////////////////////