.choice {
  padding-top: 60px;
  background: url("../../public/images/bg-choice.png") top right no-repeat;
  background-size: 100% auto;
  padding-bottom: 55px;

  h4 {
    font-family: 'Oranienbaum', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 146.5%;
    text-align: center;
    color: #202020;
    margin-bottom: 52px;
  }

  .image {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 52px;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 28.46%, #FFFFFF 100%);
    border-radius: 5px;

    p {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 170.5%;
      letter-spacing: 0.055em;
      text-transform: uppercase;
      color: #202020;
      margin: 0;
      position: absolute;
      left: 30px;
      bottom: 20px;
    }
  }

  .button {
    background: #D4AC89;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 15px auto auto;
    max-width: 335px;
    width: 100%;
    display: block;

    &:hover {
      background: #E4BE9D;
    }
    .btn {
      font-size: 16px;
      line-height: 157%;
      text-align: center;
      letter-spacing: 0.055em;
      color: #FFFFFF;
      max-width: 335px;
      padding: 16px 53px;
      width: 100%;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  //media

  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;

    h4 {
      margin-bottom: 20px;
    }

    .image {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 768px) {
    h4 {
      font-size: 38px;
      line-height: 115.5%;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    h4 {
      font-size: 26px;
      line-height: 115.5%;
    }
  }

  @media (max-width: 380px) {

    .button {
      .btn {
        width: 100%;
        padding: 12px 0;
      }
    }
  }
}