.contacts {
  padding-top: 37px;
  padding-bottom: 61px;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 329px;
    max-width: 329px;
    width: 100%;
    text-decoration: none;
    background: #D4AC89;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  .text {
    h6 {
      font-family: 'Oranienbaum', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 195.5%;
      color: #FFFFFF;
      text-align: center;
    }

    p, p a {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 195.5%;
      color: #FFFFFF;
      text-align: center;
      max-width: 237px;
      text-decoration: none;
    }
  }

  //media

  @media (max-width: 991px) {
    padding: 40px 0 20px 0;

    .item {
      margin-bottom: 30px;
    }
  }
}