//////////////////////////FOOTER BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;

.footer {
  background: #F2F2F2;
  padding: 72px 0 74px 0;
  position: relative;
  overflow: hidden;

  .vector {
    width: 206px;
    height: 390px;
    position: absolute;
    bottom: -240px;
    right: 0;
  }

  .index {
    z-index: 2;
  }

  .footer-inner {
    display: flex;
    align-items: center;
  }

  .caption {
    font-family: $font_text;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 147.69%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 74px;
    color: #08203E;
  }

  .contact {
    display: flex;
    justify-content: center;
  }

  .social {
    padding-right: 82px;
    border-right: 1px solid #464646;

    .social-block {
      display: flex;
      align-items: center;
      color: #08203E;
      &:hover {
        text-decoration: none;
      }
    }
    .icon-facebook, .icon-instagram, .icon-youtube {
     font-size: 44px;
      margin-right: 14px;
    }

    .social-text {
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 195.5%;
      color: #000000;
    }

    .facebook {
      margin-bottom: 63px;
    }

    .instagram {
      margin-bottom: 41px;
    }
  }

  .phones {
    padding-left: 87px;

    .phone {
      display: block;
    }

    .phones-block {
      margin-bottom: 22px;
    }

    .contact-title {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 195.5%;
      margin-bottom: 5px;
      color: #08203E;
    }

    .contact-text, .contact-text a {
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 195.5%;
      color: #000000;
    }

    .contact-text a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  form {
    display: inline-block;
    background: #fff;
    padding: 44px 58px 45px 58px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 2;

    .form-title {
      font-family: $font_text;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 37px;
      color: #08203E;
    }

    input {
      padding: 11px 7px;
      width: 423px;
      display: block;
      border: none;
      border-bottom: 1px solid #08203E;
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 147.69%;
      text-transform: uppercase;
      color: #08203E;
    }

    label {
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 147.69%;
      text-transform: uppercase;
      color: #08203E;
      margin-bottom: 7px;
      text-align: initial;
      display: block;
    }

    input[type="text"] {
      margin-bottom:24px;
    }

    input[type="tel"] {
      margin-bottom: 38px;
    }
    input:focus {
      outline: none;
    }

    textarea {
      width: 367px;
      height: 90px;
      display: block;
      font-family: "Comfortaa", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: auto;
      color: #2D2D2D;
      border: 1px solid #898989;
      border-radius: 10px;
      padding: 16px 14px 32px 26px;
      background: transparent;
      margin-top: 3px;
    }

    button {
      margin-left: auto;
      margin-right: auto;
      background: #ED1D24;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      border: 2px solid #ED1D24;
      .btn {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-align: center;
        color: #FFFFFF;
        padding: 17px 36px;
      }
      &:hover {
        background: #fff;
        .btn {
          color: #ED1D24;
        }
      }
    }
  }

  ///media

  @media (max-width: 1070px) {
    form {
      padding: 44px 30px 44px 30px;

      input {
        width: 350px;
      }
    }
  }

  @media (max-width: 991px) {
    padding: 72px 0 74px 0;

    .vector {
      display: none;
    }

    .caption {
      margin-bottom: 40px;
    }

    form {
      margin-top: 40px;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0 40px 0;

    .caption {
      font-size: 25px;
      line-height: 138.18%;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 576px) {
    .caption {
      font-size: 20px;
    }
  }

  @media (max-width: 530px) {
    .social {
      padding-right: 15px;
    }
    .phones {
      padding-left: 15px;
    }
  }

  @media (max-width: 470px) {
    form input {
      width: 245px;
    }
    form button {
      width: 245px;
    }
  }

  @media (max-width: 375px) {
    .contact {
      flex-direction: column;
      align-items: center;
    }

    form {
      padding: 44px 20px 44px 20px;
    }

    .social {
      border-right: none;
      .facebook, .instagram, .youtube {
        margin-bottom: 22px;
      }
    }
    .phones {
      text-align: center;
    }
  }
}

//////////////////////////FOOTER END////////////////////////