//////////////////////////PROAQUA BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;

.proaqua {
  background: #ffffff;
  position: relative;
  padding-bottom: 77px;

  .vector-top {
    width: 390px;
    height: 304px;
    position: absolute;
    bottom: -222px;
    left: 262px;
  }

  .vector-bottom {
    width: 215px;
    height: 390px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .image-proaqua {
    max-width: 273px;
    max-height: 176px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
  }

  .image {
    max-width: 787px;
    max-height: 496px;
    margin-top: 87px;
    margin-bottom: 75px;
  }

  .title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 178.18%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    //margin-bottom: 22px;
    max-width: 450px;
    span {
      color: #ED1D24;
    }
  }

  .sub-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 178.18%;
    letter-spacing: 0.1em;
    color: #333333;
    margin-bottom: 22px;
    margin-left: 27px;
  }

  ul {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 178.18%;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #333333;
    margin-left: 27px;
    margin-bottom: 104px;
  }

  .button-one {
    display: inline-block;
    background: #ED1D24;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 2px solid #ED1D24;
    margin-right: 10px;
    z-index: 2;
    margin-left: 27px;
    .btn {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-align: center;
      color: #FFFFFF;
      padding: 17px 62px;
    }
    &:hover {
      background: #fff;
      .btn {
        color: #ED1D24;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .button-second {
    display: inline-block;
    background: #ED1D24;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 2px solid #ED1D24;
    z-index: 2;
    .btn {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-align: center;
      color: #FFFFFF;
      padding: 17px 44px;
    }
    &:hover {
      background: #fff;
      .btn {
        color: #ED1D24;
      }
    }
  }

  .models {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;
    justify-content: flex-end;
    .item {
      margin-right: 25px;
      display: flex;
      align-items: center;
      margin-bottom: 28px;
      .color {
        width: 57px;
        height: 57px;
        margin-right: 15px;
      }
      p {
        margin: 0;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 178.18%;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        max-width: 127px;
        color: #333333;
      }
    }
  }

  .brown {
    background: #2E1409;
  }
  .dark-brown {
    background: #110D09;
  }
  .graphite {
    background: #374546;
  }
  .black {
    background: #010101;
  }
  .brick {
    background: #9C463A;
  }
  .white {
    background: linear-gradient(225deg, #F1EFF0 0%, #FFF4FA 100%);
  }

  .soffits {
    position: relative;
    margin-top: 107px;
    .caption {
      font-family: $font_text;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 147.69%;
      text-transform: uppercase;
      color: #08203E;
      margin-bottom: 40px;
      text-align: center;
      z-index: 2;
    }

    .slick-slider {
      z-index: 2;
    }

    .slider-item {
      position: relative;
      z-index: 2;
      .gallery-image {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        max-width: 285px;
        max-height: 162px;
        margin: 47px 30px 28px 30px;
        z-index: 2;
      }
      p {
        font-family: $font_text;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 180%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #08203E;
        margin: 0;
        margin-bottom: 58px;
      }

      .text {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 180%;
        text-align: center;
        color: #000000;
      }
    }

    .slick-center {
      transition: .3s;
      transform: scale(1.2);
      z-index: 9;
      position: relative;
      outline: none;
    }

    ///slick-prev slick-next

    .slick-prev:before, .slick-next:before {
      font-size: 1px;
    }

    .slick-prev.slick-arrow {
      right: 66px;
      top: -59px;
    }

    .slick-next {
      right: 18px;
      top: -59px;
    }

    .slick-prev, .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      display: block;
      width: 47px;
      height: 47px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #fff;
      border: 2px solid #ED1D24;
      outline: none;
      background: #ED1D24;
      z-index: 1;
    }

    .slick-prev:active, .slick-next:active {
      color: #ED1D24;
      border: 2px solid #ED1D24;
      background: #fff;
    }
    ///slick-prev slick-next end
  }

  ///media

  @media (max-width: 1190px) {
    .button-one {
      .btn {
        padding: 17px 55px;
      }
    }

    .button-second {
      .btn {
        padding: 17px 21px;
      }
    }
  }

  @media (max-width: 1047px) {
    .button-one {
      .btn {
        padding: 17px 48px;
      }
    }

    .button-second {
      .btn {
        padding: 17px 14px;
      }
    }
  }

  @media (max-width: 991px) {

    padding: 0 0 40px 0;
    text-align: center;

    .center {
      text-align: center;
    }

    ul {
      margin-bottom: 40px;
    }

    .image {
      margin: 40px auto;
    }

    .colors {
      margin-bottom: 40px;
    }

    .models {
      margin-bottom: 15px;
      justify-content: center;
    }

    .title {
      text-align: center;
      max-width: 100%;
    }

    .soffits {
      margin-top: 40px;

      .slider-item p {
        margin-bottom: 40px;
      }
    }

    .vector {
      display: none;
    }

    .buttons {
      justify-content: center;
      .button-one {
        margin-right: 49px;
      }
    }

    .button-one {
      .btn {
        padding: 17px 62px;
      }
    }

    .button-second {
      .btn {
        padding: 17px 44px;
      }
    }
  }

  @media (max-width: 768px) {

    padding: 40px 0 40px 0;

    .image-proaqua {
      margin-bottom: 20px;
    }

    ul {
      margin-bottom: 20px;
    }

    .image {
      margin: 20px auto;
    }

    .models {
      margin-bottom: 0;
      justify-content: center;
    }

    .soffits {
      margin-top: 20px;

      .slick-prev.slick-arrow {
        top: -19px;
      }

      .slick-next.slick-arrow {
        top: -19px;
      }

      .caption {
        margin-bottom: 0;
      }
    }

  }


  @media (max-width: 535px) {
    .buttons {
      flex-wrap: wrap;

      .button-one {
        margin-right: 7px;
        margin-left: 7px;
      }
      .button-second {
        margin-right: 7px;
        margin-left: 7px;
      }
    }
  }

  @media (max-width: 487px) {
    .buttons {
      .button-one {
        margin-bottom: 20px;

        .btn {
          padding: 17px 74px;
        }
      }
    }
  }

}

//////////////////////////PROAQUA END////////////////////////f;