.reviews {
  padding-top: 61px;
  padding-bottom: 213px;

  h4 {
    font-family: 'Oranienbaum', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 146.5%;
    color: #202020;
    text-align: center;
    margin-bottom: 35px;
  }

  .item {
    display: block;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 36px 30px 25px 38px;
    margin: 45px 30px;

    p {
      font-family: 'Lato', sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 15px;
      line-height: 151.4%;
      color: #242424;
    }

    .image {
      margin-right: 12px;
      width: 69px;
      height: 69px;
    }

    .top {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    .title {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #242424;
      margin-bottom: 8px;
    }

    .town {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #242424;
      margin-bottom: 0;
    }
  }

  ///slick-prev slick-next
  .slick-prev:before, .slick-next:before {
    font-size: 0;
  }

  .slick-prev.slick-arrow {
    left: 43%;
  }

  .slick-next {
    right: 43%;
  }

  .slick-prev, .slick-next {
    bottom: -32%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #202020;;
    outline: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      height: 61px;
      width: 61px;
      border-radius: 50%;
      background: transparent;
      border: 1px solid #D4AC89;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .slick-prev:active, .slick-next:active {
    color: #827676;
  }

  .slick-center {
    transition: .3s;
    transform: scale(1.1);
    z-index: 2;
  }

  .reviews-slider {
    outline: none!important;
  }

  //media

  @media (max-width: 1140px) {
    .slick-prev.slick-arrow {
      left: 41%;
    }

    .slick-next {
      right: 41%;
    }
  }

  @media (max-width: 991px) {
    padding: 40px 0 80px 0;

    h4 {
      margin-bottom: -20px;
    }

    .slick-prev, .slick-next {
      bottom: -19%;
    }
  }

  @media (max-width: 880px) {
    .slick-prev.slick-arrow {
      left: 39%;
    }

    .slick-next {
      right: 39%;
    }
  }

  @media (max-width: 768px) {
    h4 {
      font-size: 38px;
      line-height: 115.5%;
    }
  }

  @media (max-width: 755px) {
    .slick-prev.slick-arrow {
      left: 37%;
    }

    .slick-next {
      right: 37%;
    }
  }

  @media (max-width: 700px) {

    .image {
      margin: 0 10px;
    }

    .icon-left:before, .icon-right:before {
      font-size: 16px;
    }

    .slick-prev, .slick-next {
      width: 55px;
      height: 55px;
      &:after {
        height: 41px;
        width: 41px;
      }
    }
  }

  @media (max-width: 690px) {
    padding-bottom: 100px;

    h4 {
      margin-bottom: 10px;
    }

    .item {
      margin: 45px;
    }

    .image {
      margin: 0;
    }

    .slick-prev.slick-arrow {
      left: 35%;
    }

    .slick-next {
      right: 35%;
    }
  }

  @media (max-width: 480px) {
    h4 {
      font-size: 26px;
      line-height: 115.5%;
    }
  }

  @media (max-width: 450px) {
    padding-bottom: 60px;

    .item {
      box-shadow: none;
      margin: 0;
    }

    .slick-prev, .slick-next {
      bottom: -18%;
    }
  }

  @media (max-width: 410px) {
    .slick-prev.slick-arrow {
      left: 29%;
    }

    .slick-next {
      right: 29%;
    }
  }
}
