//////////////////////////ROOF BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;

.roof {
  background: #ffffff;
  overflow: hidden;

  .vector {
    width: 206px;
    height: 390px;
    position: absolute;
    bottom: -240px;
    right: 0;
  }

  .budmat {
    font-family: $font_text;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 147.69%;
    color: rgba(237, 29, 36, 0.9);
    text-align: right;
    margin: -24px 0 0;
    span {
      color: rgba(0, 0, 0, 0.9);
      margin-left: -20px;
    }
  }

  .roof-inner {
    display: flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 169px;
    position: relative;
  }
  .image {
    background: url("../../public/images/roof.png") center no-repeat;
    background-size: contain;
    display: flex;
    flex-basis: 45%;
    height: 364px;
    z-index: 1;
  }

  .roof-body {
    display: flex;
    flex-basis: 55%;
    flex-direction: column;
  }

  .holder {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .caption {
    font-family: $font_text;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 147.69%;
    text-transform: uppercase;
    color: #08203E;
    margin-bottom: 26px;
    position: relative;
    margin-left: auto;
    z-index: 2;

    strong {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 147.69%;
      color: #ED1D24;
      position: absolute;
      bottom: -24px;
      right: 0;
    }

    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 55px;
      background: #ED1D24;
      top: -62px;
      left: 0;
    }

    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 96%;
      height: 1px;
      background: #ED1D24;
      bottom: -14px;
      left: 0;
    }
  }

  .text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 180%;
    color: #000000;
    margin-bottom: 47px;
    margin-left: auto;
    span {
      font-weight: 600;
      color: #ED1D24;
    }
  }

  .button {
    display: inline-block;
    background: #ED1D24;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 2px solid #ED1D24;
    .btn {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-align: center;
      color: #FFFFFF;
      padding: 17px 73px;
    }
    &:hover {
      background: #fff;
      .btn {
        color: #ED1D24;
      }
    }
  }
  /////////////////////////////////
  .roof-info {

    .lines {
      position: absolute;
      top: 65px;
      right: -72px;

      display: flex;
      flex-direction: column;
      align-items: center;


      .line-main {
        width: 114px;
        height: 1px;
        background: rgba(237, 29, 36, 0.5);
        margin: 12px 0;
      }
      .line-sub {
        width: 90px;
        height: 1px;
        background: #D8D8D8;
      }
    }

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .image-info {
      max-width: 164px;
      max-height: 164px;
      margin-bottom: 32px;
    }

    p {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 180%;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #08203E;
      max-width: 238px;
      margin-bottom: 0;
    }
  }

  ///media

  @media (max-width: 2200px) {
    .holder {
      margin-right: 92px;
    }
  }

  @media (max-width: 1500px) {
    .holder {
      margin-right: 54px;
    }
  }

  @media (max-width: 1140px) {
    .roof-info .lines .line-main {
      width: 85px;
    }
    .roof-info .lines .line-sub {
      width: 65px;
    }
    .roof-info .lines {
      right: -57px;
    }
  }

  @media (max-width: 991px) {

    .vector {
      display: none;
    }

    .roof-info .lines.third {
      display: none;
    }

    .roof-info .item {
      margin-bottom: 20px;
    }

    .roof-inner {
      margin-top: 40px;
      flex-direction: column;
      margin-bottom: 40px;
    }

    .holder {
      max-width: 100%;
      text-align: center;
      margin: 0;
    }

    .caption, .text {
      display: inline-block;
      margin-bottom: 40px;
      &:before {
        display: none;
      }
    }

    .button {
      margin-bottom: 40px;
    }

    .image {
      background-size: cover;
      width: 100%;
      height: 470px;
      margin-left: auto;
      margin-right: auto;
      flex-basis: auto;
    }

    .budmat {
      font-size: 50px;
      text-align: center;
      margin-bottom: 0;
      margin-top: 0;
      span {
        margin-left: -15px;
      }
    }
  }

  @media (max-width: 768px) {

    .roof-inner {
      margin-top: 20px;
    }

    .budmat {
      font-size: 35px;
      span {
        margin-left: -10px;
      }
    }

    .text {
      margin-bottom: 20px;
    }

    .caption {
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 138.18%;

      strong {
        bottom: -18px;
      }

      &:after {
        left: 0;
        right: 0;
        bottom: -9px;
        margin: auto;
      }
    }

    .button {
      margin-bottom: 20px;
    }

    .image {
      height: 370px;
    }
  }

  @media (max-width: 767px) {
    .roof-info .lines.third {
      display: flex;
    }

    .roof-info .lines.second {
      display: none;
    }
  }

  @media (max-width: 576px) {
    .image {
      height: 265px;
    }
    .caption {
      font-size: 20px;
    }

    .budmat {
      font-size: 30px;
    }
  }

  @media (max-width: 575px) {
    .roof-info .lines {
      position: absolute;
      top: 84%;
      left: -62px;
    }

    .roof-info .lines.second {
      display: flex;
    }

    .roof-info p {
      margin-bottom: 60px;
    }

    .roof-info .item {
      margin-bottom: 0;
    }
    .roof-info .image-info {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 420px) {
    .image {
      height: 200px;
    }
  }
}

//////////////////////////ROOF END////////////////////////