//////////////////////////VENECJA BEGIN////////////////////////
$font_text: 'Montserrat', sans-serif;

.venecja {
  padding-top: 120px;
  background: #ffffff;
  position: relative;

  ////
  .venecja-slider {
    outline: none !important;
  }

  .slick-list {
    width: 77%;
    margin-right: auto;
  }
  ////

  .vector-top {
    width: 346px;
    height: 304px;
    position: absolute;
    bottom: 124px;
    right: 0;
  }

  .vector-bottom {
    width: 222px;
    height: 390px;
    position: absolute;
    bottom: -305px;
    right: 0;
  }

  .caption {
    font-family: $font_text;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 147.69%;
    text-transform: uppercase;
    color: #08203E;
    margin-bottom: 91px;
    position: relative;
    margin-left: auto;
    margin-top: 42px;
    display: inline-block;
    max-width: 640px;
    z-index: 2;

    strong {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 147.69%;
      color: #ED1D24;
      position: absolute;
      bottom: -24px;
      right: 0;
    }

    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 55px;
      background: #ED1D24;
      top: -62px;
      left: 0;
    }

    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 96%;
      height: 1px;
      background: #ED1D24;
      bottom: -14px;
      left: 0;
    }
  }

  .right {
    margin-top: -200px;
  }

  ////

  .image-roof {
    max-width: 627px;
    max-height: 304px;
    z-index: 1;
    margin-bottom: 50px;
  }

  .colors {
    display: flex;
    justify-content: space-around;

    .color-img {
      max-width: 92px;
      max-height: 92px;
      box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
      margin-right: 18px;
      margin-left: 18px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  /////

  .image-venecja {
    max-width: 404px;
    max-height: 218px;
    margin-left: auto;
    margin-right: 35px;
    margin-bottom: 73px;
  }

  .title {
    font-family: $font_text;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 147.69%;
    text-transform: uppercase;
    color: #08203E;
    margin-bottom: 18px;
    span {
      color: #ED1D24;
    }
  }

  .text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 180%;
    color: #000000;
    margin-bottom: 96px;
    max-width: 455px;

    span {
      font-weight: 600;
      color: #ED1D24;
    }
  }

  .button-one {
    display: inline-block;
    background: #ED1D24;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 2px solid #ED1D24;
    margin-right: 10px;
    z-index: 2;
    .btn {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-align: center;
      color: #FFFFFF;
      padding: 17px 62px;
    }
    &:hover {
      background: #fff;
      .btn {
        color: #ED1D24;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .button-second {
    display: inline-block;
    background: #ED1D24;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 2px solid #ED1D24;
    z-index: 2;
    .btn {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-align: center;
      color: #FFFFFF;
      padding: 17px 44px;
    }
    &:hover {
      background: #fff;
      .btn {
        color: #ED1D24;
      }
    }
  }

  /////////////////////////////////
  .venecja-info {
    padding-top: 77px;

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      //margin-bottom: 28px;
    }

    .image-info {
      max-width: 426px;
      max-height: 162px;
      margin-bottom: 28px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    p {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 180%;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #08203E;
      margin-bottom: 0;
    }
  }

  ///media

  @media (max-width: 1125px) {
    .button-one {
      .btn {
        padding: 17px 55px;
      }
    }

    .button-second {
      .btn {
        padding: 17px 21px;
      }
    }
  }

  @media (max-width: 991px) {

    padding: 80px 0 0 0;
    text-align: center;

    ////

    .slick-list {
      width: 77%;
      margin-right: auto;
      margin-left: auto;
    }

    .venecja-slider {
      width: 627px;
      margin: auto;
    }
    ////

    .center {
      text-align: center;
    }

    .right {
      margin-top: 0;
    }

    .caption {
      margin-top: 0;
      margin-bottom: 40px;
      &:before {
        display: none;
      }
    }

    ////

    .image-roof{
      margin: 40px auto 40px;
    }

    .colors {
      margin-bottom: 40px;
    }

    .image-venecja {
      margin-right: auto;
      margin-bottom: 40px;
    }

    /////

    .title {
      text-align: center;
    }

    .text {
      text-align: center;
      margin-bottom: 40px;
      max-width: 100%;
    }

    .vector {
      display: none;
    }

    .buttons {
      justify-content: center;
      .button-one {
        margin-right: 49px;
      }
    }

    .venecja-info {
      padding-top: 40px;

      .item {
        margin-bottom: 28px;
      }
    }

    .button-one {
      .btn {
        padding: 17px 62px;
      }
    }

    .button-second {
      .btn {
        padding: 17px 44px;
      }
    }
  }

  @media (max-width: 768px) {

    padding: 40px 0 0 0;

    .text {
      margin-bottom: 20px;
    }

    .caption {
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 138.18%;

      strong {
        bottom: -18px;
      }

      &:after {
        left: 0;
        right: 0;
        bottom: -9px;
        margin: auto;
      }
    }

    ////

    .image-roof {
      margin: 20px auto 20px;
    }

    .colors, .image-venecja  {
      margin-bottom: 20px;
    }

    ////

    .venecja-info {
      padding-top: 20px;

      .item {
        margin-bottom: 20px;
      }
    }

  }

  ////

  @media (max-width: 680px) {
    .venecja-slider {
      width: 95%;
    }

    .colors .color-img {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  ////

  @media (max-width: 576px) {
    .caption {
      font-size: 20px;
    }

    ////
    .colors .color-img {
      margin-left: 10px;
      margin-right: 10px;
    }

    ////
  }

  @media (max-width: 508px) {
    ////
    .slick-list {
      width: 88%;
    }
    ////

    .buttons {
      flex-wrap: wrap;

      .button-one {
        margin-right: 7px;
        margin-left: 7px;
      }
      .button-second {
        margin-right: 7px;
        margin-left: 7px;
      }
    }
  }

  @media (max-width: 487px) {
    ////
    .colors .color-img {
      margin-left: 5px;
      margin-right: 5px;
    }
    ////

    .buttons {
      .button-one {
        margin-bottom: 20px;

        .btn {
          padding: 17px 74px;
        }
      }
    }
  }

}

//////////////////////////VENECJA END////////////////////////