.why {
  padding-top: 82px;
  position: relative;
  padding-bottom: 69px;
  overflow: hidden;

  .why-inner {
    display: flex;
  }

  .left {
    flex-basis: 45%;
    width: 45%;
  }

  .right {
    flex-basis: 55%;
    width: 55%;
  }

  h4 {
    font-family: 'Oranienbaum', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 146.5%;
    color: #202020;
    margin-bottom: 20px;
  }

  p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.055em;
    color: #000000;
    margin-bottom: 20px;
  }

  .item-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
  }

  .item {
    height: 140px;
    width: 48%;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0 17px;
    display: flex;
    align-items: center;
  }

  .holder {
    display: flex;
    align-items: center;
  }

  .text {
    margin-left: 28px;
    h6 {
      font-family: 'Oranienbaum', serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 146.5%;
      color: #202020;
      margin-bottom: 16px;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 146.5%;
      color: #202020;
      margin: 0;
      max-width: 220px;
    }
  }

  .button {
    background: #D4AC89;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    max-width: 335px;
    width: 100%;
    margin: 17px auto auto;
    display: block;

    &:hover {
      background: #E4BE9D;
    }
    .btn {
      font-size: 16px;
      line-height: 157%;
      text-align: center;
      letter-spacing: 0.055em;
      color: #FFFFFF;
      max-width: 335px;
      padding: 16px 91px;
      width: 100%;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .why-slider {
    margin-left: -170px;
    //margin-right: 108px;
    //margin-top: -15px;
    width: 637px;
  }

  .image {
    position: relative;
    //width: 637px;
    //height: 637px;
    &:before {
      content: "";
      width: 561px;
      height: 561px;
      border-radius: 50%;
      border: 2px solid #FFFFFF;
      background: transparent;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    img {
      border-radius: 50%;
    }
  }

  ///slick-prev slick-next
  .slick-prev:before, .slick-next:before {
    font-size: 0;
  }

  .slick-prev.slick-arrow {
    left: 36%;
  }

  .slick-next {
    right: 38%;
  }

  .slick-prev, .slick-next {
    bottom: -82px;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #202020;;
    outline: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: "";
      height: 61px;
      width: 61px;
      border-radius: 50%;
      background: transparent;
      border: 1px solid #D4AC89;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .slick-prev:active, .slick-next:active {
    color: #827676;
  }

  //media
  @media (max-width: 1189px) {
    .item {
      height: 155px;
    }
    .icon-podhod:before, .icon-roll:before, .icon-sewing-machine:before, .icon-team:before {
      font-size: 60px;
    }
    .why-slider {
      margin-left: -230px;
    }
  }

  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 80px;
    h4, p {
      text-align: center;
    }
    .item {
      height: 140px;
    }

    .why-slider {
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }

    .text p {
      max-width: 100%;
      text-align: left;
    }

    .cards {
      margin-top: 40px;
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 60px;

    h4 {
      font-size: 38px;
      line-height: 115.5%;
    }
  }

  @media (max-width: 660px) {
    .item-row {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }

    .why-slider {
      width: 100%;

      .image {
        position: relative;
        &:before {
          content: "";
          width: 85%;
          height: 85%;
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          background: transparent;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
    }

    .item {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 22px;

      .text h6 {
        text-align: center;
      }

      .text p {
        max-width: 220px;
        text-align: center;
      }

      .holder {
        width: 312px;
      }
    }
  }

  @media (max-width: 598px) {

    .icon-left:before, .icon-right:before {
      font-size: 16px;
    }

    .slick-prev:before, .slick-next:before {
      font-size: 0;
    }

    .slick-prev.slick-arrow {
      left: 34%;
    }

    .slick-next {
      right: 34%;
    }

    .slick-prev, .slick-next {
      bottom: -50px;
      width: 55px;
      height: 55px;
      &:after {
        height: 41px;
        width: 41px;
      }
    }
  }

  @media (max-width: 480px) {
    h4 {
      font-size: 26px;
      line-height: 115.5%;
    }

    .text {
      margin-left: 12px;
    }
    .item .holder {
      width: 294px;
    }
  }

  @media (max-width: 380px) {
    .slick-prev.slick-arrow {
      left: 30%;
    }

    .slick-next {
      right: 30%;
    }

    .button {
      .btn {
        width: 100%;
        padding: 12px 0;
      }
    }
  }
}