$font_text: 'Montserrat', sans-serif;
$caption_text: Cera Pro, sans-serif;

@import "header";
@import "banner";
@import "customers";
@import "venecja";
@import "murano";
@import "ferrara";
@import "rialto";
@import "flamingo";
@import "proaqua";
@import "office";
@import "certificates";
@import "water";
@import "roof";
@import "choice";
@import "reviews";
@import "footer";



@font-face {
  font-family: 'Lato';
  src: local('Lato Light'),
  local('Lato-Light'),
  url('../../public/fonts/latolight.woff2') format('woff2'),
  url('../../public/fonts/latolight.woff') format('woff'),
  url('../../public/fonts/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Medium'),
  local('Lato-Medium'),
  url('../../public/fonts/latomedium.woff2') format('woff2'),
  url('../../public/fonts/latomedium.woff') format('woff'),
  url('../../public/fonts/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'),
  local('Lato-Semibold'),
  url('../../public/fonts/latosemibold.woff2') format('woff2'),
  url('../../public/fonts/latosemibold.woff') format('woff'),
  url('../../public/fonts/latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../public/fonts/icomoon.eot?31g4lx');
  src:  url('../../public/fonts/icomoon.eot?31g4lx#iefix') format('embedded-opentype'),
  url('../../public/fonts/icomoon.ttf?31g4lx') format('truetype'),
  url('../../public/fonts/icomoon.woff?31g4lx') format('woff'),
  url('../../public/fonts/icomoon.svg?31g4lx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box1:before {
  content: "\e900";
  color: #ed1d24;
}
.icon-box2:before {
  content: "\e901";
  color: #ed1d24;
}
.icon-call:before {
  content: "\e902";
}
.icon-call2:before {
  content: "\e903";
}
.icon-clock2:before {
  content: "\e904";
  color: #ed1d24;
}
.icon-facebook:before {
  content: "\e905";
}
.icon-house:before {
  content: "\e906";
  color: #ed1d24;
}
.icon-instagram:before {
  content: "\e907";
}
.icon-map:before {
  content: "\e908";
}
.icon-roof:before {
  content: "\e909";
  color: #ed1d24;
}
.icon-truck:before {
  content: "\e90a";
  color: #ed1d24;
}
.icon-wall-clock:before {
  content: "\e90b";
}
.icon-warranty:before {
  content: "\e90c";
  color: #ed1d24;
}
.icon-water:before {
  content: "\e90d";
  color: #ed1d24;
}
.icon-youtube:before {
  content: "\e90e";
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #fff;

  .btn:hover, .btn:focus, .btn:active, .btn:visited, .btn:focus-within {
    outline: none !important;
    box-shadow: none !important;
  }

  .popup-link:hover, .popup-link:focus, .popup-link:active, .popup-link:visited, .popup-link:focus-within {
    outline: none !important;
    box-shadow: none !important;
  }

  .button:hover, .button:focus, .button:active, .button:visited, .button:focus-within {
    outline: none !important;
    box-shadow: none !important;
  }

  :focus {
    outline: none !important;
  }

  a:active, a:focus {
    outline: none !important;
  }

  input, textarea {
    outline: none !important;
  }
  input:active, textarea:active {
    outline: none !important;
  }
  :focus {
    outline: none !important;
  }
  textarea {
    resize: none !important;
  }
  textarea {
    resize: vertical !important;
  }
  textarea {
    resize: horizontal !important;
  }

  button, a, .btn {
    outline: none !important;
  }

  input, textarea {outline:none;}
  input:active, textarea:active {outline:none;}
  :focus {outline:none;}
  textarea {resize:none;}
  textarea {resize:vertical;}
  textarea {resize:horizontal;}

  button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }

  .button:active, .button:focus {
    outline: none;
  }
  .button::-moz-focus-inner {
    border: 0;
  }

  a:active, a:focus {
    outline: none;
  }
  a::-moz-focus-inner {
    border: 0;
  }
}

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-fluid {
  padding: 0 0 !important;
}

img {
  width: 100%;
  height: auto;
}

.office  .slider-for {
  outline: none!important;
}

.office  .slider-nav {
  outline: none!important;
}

.slider-for2 {
  outline: none!important;
}

.slider-nav2 {
  outline: none!important;
}

.color-img, .image-roof, .image-small {
  outline: none !important;
}

.color-img, .image-small {
  cursor: pointer;
}




/////////////////////POPUP///////////////////

.popup {
  background: #FFFFFF;
  max-width: 538px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 45px 0 45px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

  form {
    display: inline-block;
    background: #fff;
    padding: 0 40px 0 40px;

    text-align: center;

    .form-title {
      font-family: $font_text;
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 37px;
      color: #08203E;
    }

    input {
      padding: 11px 7px;
      width: 423px;
      display: block;
      border: none;
      border-bottom: 1px solid #08203E;
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 147.69%;
      text-transform: uppercase;
      color: #08203E;
    }

    label {
      font-family: $font_text;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 147.69%;
      text-transform: uppercase;
      color: #08203E;
      margin-bottom: 7px;
      text-align: initial;
      display: block;
    }

    input[type="text"] {
      margin-bottom:24px;
    }

    input[type="tel"] {
      margin-bottom: 38px;
    }
    input:focus {
      outline: none;
    }

    textarea {
      width: 367px;
      height: 90px;
      display: block;
      font-family: "Comfortaa", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: auto;
      color: #2D2D2D;
      border: 1px solid #898989;
      border-radius: 10px;
      padding: 16px 14px 32px 26px;
      background: transparent;
      margin-top: 3px;
    }

    button {
      margin-left: auto;
      margin-right: auto;
      background: #ED1D24;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      border: 2px solid #ED1D24;
      .btn {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-align: center;
        color: #FFFFFF;
        padding: 17px 36px;
      }
      &:hover {
        background: #fff;
        .btn {
          color: #ED1D24;
        }
      }
    }
  }

  ///media

  @media (max-width: 580px) {
    padding: 45px 40px 45px 40px;
    form {
      padding: 20px 0 20px 0;
      display: block;

      input {
        width: 100%;
      }
    }
  }
}
